body {
	font-family: Arial, sans-serif;
	background-color: #fafafa;
	margin: 40px;
	padding: 20px;
}

h1 {
	color: #b22222;
	border-bottom: 2px solid #c8102e;

}

form {
	background: white;
	padding: 30px;
	/* margin: 0 auto; */
	width: 50%;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
	display: block;
	margin-top: 10px;
}

input {
	width: 93%;
	padding: 8px;
	margin-top: 5px;
}

button {
	margin-top: 15px;
	background: #b22222;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 4px;
	margin-right: 10px;
	font-size: 14px;
}

button:hover {
	background: #8b1a1a;
}

.mensagem{
	padding: 10px;
	margin: 15px 0;
	border-radius: 4px;
	display: none;
}

table{
	width: 50%;
	border-collapse: collapse;
	margin-top: 20px;
	display: none;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #c8102e;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}